@model ListBooksViewModel
@using PagedList.Mvc;
@if (@Model.Books.Any())
{
    <div id="all">
        <br />
        <div id="books">
            <table class="table table-hover">
                <tr>
                    <th>Image</th>
                    <th>Book's Name</th>
                    <th>Genre</th>
                    <th>Page Count</th>
                    <th>Created On</th>
                </tr>
                @Html.DisplayFor(b => b.Books)
            </table>
            <div class="text-center">
                @Html.PagedListPager(Model.Books, page => Url.Action("List","Book", new { page = page }))
                Showing @Model.Books.FirstItemOnPage to @Model.Books.LastItemOnPage
                of @Model.Books.TotalItemCount Books
            </div>

        </div>
    </div>

}
else
{
    <h2>No Books!!!</h2>
}
