@using OnlineLibrary.Web.HtmlExtensions
@model BookInListViewModel
<tr>
    <td>
        
        @Html.Image(@Model.ImgPath,70,70)
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Genre
    </td>
    <td>
        @Model.PageCount
    </td>
    <td>
        @Model.CreatedOn
    </td>
</tr>