@model OnlineLibrary.Web.Models.BookBindingModel
@{
    ViewBag.Title = "Add New Book";
}

<h1>Add new Book</h1>

@using (Html.BeginForm("Add", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(b => b.Name)
        @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.ImageFile)
        @Html.TextBoxFor(b => b.ImageFile, null, new { type = "file", @class = "form-control", id = "uploadPhoto", value = "Upload" })
        @Html.ValidationMessageFor(b => b.ImageFile)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.PageCount)
        @Html.TextBoxFor(b => b.PageCount, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.PageCount)
    </div>
    <div class="form-group">
        @Html.LabelFor(b => b.Genre)
        @Html.EnumDropDownListFor(b=> b.Genre, new { @class = "form-control" })
    </div>
    <input type="submit" value="submit"/>



}